// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


a {
  text-decoration: none;
}

#content .blog-index article h1 {
    font-size: 1.5em;
    font-color: #5882FA;
    font-weight: normal;
}
 
#content .blog-index article h1, #content .blog-index article h1 a, article header h1, article header h1 a{
    color: #555555 !important;
}
 
h1 { font-size: 1.5em;
    text-decoration: none;
}
 
h1 span{
    font-weight: normal;
    color: #E0841B;
}
 
article h2, article h3, article header h1{
    font-weight: normal;
}
 
.blog-index article h1 a:hover{ text-decoration: none; }
 
article p  {
    text-align:justify;
    margin-bottom: 1em;
}

p a {
  font-weight:bold;
}
